* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  position: relative;
  flex: 0 1 480px;
  margin-top: 40px;
  margin-left: 40px;
  transform: translateX(-20px);
}

.video iframe {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 270px;
}

.video--active iframe {
  display: block;
}

.video__preview {
  position: relative;
  cursor: pointer;
  max-width: 480px;
  height: 270px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -45px;
  background-color: black;
}

.video__preview::before {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  content: attr(title);
  bottom: 0;
  height: 58px;
  width: 100%;
  color: white;
  font-size: 24px;
  font-family: Helvetica, serif;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.video__preview:hover::before {
  transition: height 0.3s;
  height: 50%;
}
