* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  position: relative;
  flex: 0 0 480px;
  margin-top: 40px;
  margin-left: 40px;
  cursor: pointer;
}

.video iframe {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.video--active iframe {
  display: block;
}
